body{
    font-family: monospace;
}

.eraseNote{
    color:red;
}
.strike{
    text-decoration: line-through;
}
.notes{

}
.note {
    font-size: 1.4em;
    display: flex;
}
.strike-through,
.note-text{

}
.eraseNote{

}